// colored 'cards'

.card {
  .elementor-widget-wrap {
    position: relative;
    padding: 20px 32px 42px;
  }

  h3.elementor-heading-title {
    margin-top: 35px;
  }
}

.card-square {
  .elementor-column-wrap .elementor-widget-wrap .elementor-column-wrap .elementor-widget-wrap {
    @media (max-width: 420px) {
      padding: 0;
    }
  }

  p:last-child {
    @media(max-width: 767px) {
      margin-bottom: 0;
    }
  }
  @extend .card;

  .elementor-widget-wrap {
    padding-bottom: 20px;
  }
}

.card {
  &.top-right {
    .corner-top-right {
      @include fancy-corner('top-right', 0, 0, auto, auto);
    }

    .corner-bottom-left {
      @include diagonal-corner(0, 0, auto, auto);
    }

    .corner-top-left {
      @include remaining-corner-1(0, 0, auto, auto);
    }

    .corner-bottom-right {
      @include remaining-corner-2(0, 0, auto, auto);
    }
  }

  &.top-left {
    .corner-top-right {
      @include remaining-corner-1(0, auto, auto, 0);
    }

    .corner-bottom-left {
      @include remaining-corner-2(0, auto, auto, 0);
    }

    .corner-top-left {
      @include fancy-corner('top-left', 0, auto, auto, 0);
    }

    .corner-bottom-right {
      @include diagonal-corner(0, auto, auto, 0);
    }
  }

  &.bottom-left {
    .corner-top-right {
      @include remaining-corner-1(auto, auto, 0, 0);
    }

    .corner-bottom-left {
      @include fancy-corner('bottom-left', auto, auto, 0, 0);
    }

    .corner-top-left {
      @include remaining-corner-2(auto, auto, 0, 0);
    }

    .corner-bottom-right {
      @include diagonal-corner(auto, auto, 0, 0);
    }
  }

  &.bottom-right {
    .corner-top-right {
      @include remaining-corner-1(auto, 0, 0, auto);
    }

    .corner-bottom-left {
      @include diagonal-corner(auto, 0, 0, auto);
    }

    .corner-top-left {
      @include remaining-corner-2(auto, 0, 0, auto);
    }

    .corner-bottom-right {
      @include fancy-corner('bottom-right', auto, 0, 0, auto);
    }
  }
}

.card-4-layout {
  // become 2 columns on mobile-tablet sizes
  .elementor-column.elementor-col-25,
  .elementor-column[data-col="25"] {
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 1200px) {
      width: 25%;
    }
  }
}