// underline for menu items

.e--pointer-double-line .elementor-item:after,
.e--pointer-double-line .elementor-item:before,
.e--pointer-overline .elementor-item:after,
.e--pointer-overline .elementor-item:before,
.e--pointer-underline .elementor-item:after,
.e--pointer-underline .elementor-item:before {
  background-color: $yellow;
}
// buttons
// default button style (yellow)

%btn-styles {
  font-family: 'Fjalla One', sans-serif;
  transition: all 0.2s;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 17px;
}

.ast-button,
.button,
.elementor-button,
.elementor-button-wrapper .elementor-button,
button,
input#submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @extend %btn-styles;
  @include btn-outline($yellow);
}

.solid-btn {
  .elementor-button-wrapper a.elementor-button,
  button,
  input#submit,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    @extend %btn-styles;
    @include btn-solid($yellow);
  }
}
// .elementor-button.elementor-size-sm {
//   padding: 8px 16px;
// }
// nav menu

.sub-menu.elementor-nav-menu--dropdown {
  background-color: $yellow;

  a {
    color: $purple;
  }
}
// menu
// sub menu items

.elementor-nav-menu--dropdown .elementor-item.highlighted,
.elementor-nav-menu--dropdown .elementor-item:focus,
.elementor-nav-menu--dropdown .elementor-item:hover,
.elementor-sub-item.highlighted,
.elementor-sub-item:focus,
.elementor-sub-item:hover {
  background-color: $light-yellow;
}
// hamburger icon

.elementor-menu-toggle.elementor-clickable {
  position: absolute;
  right: 0;
  top: -80px;
  @media (min-width: 768px) {
    position: static;
  }
  color: white;
}
// mobile menu background

.elementor-nav-menu--dropdown {
  background-color: $yellow;

  .menu-item a {
    color: $purple;

    &:active,
    &:focus,
    &:hover {
      color: $purple;
    }
  }
}

.elementor-nav-menu--dropdown.elementor-nav-menu__container .elementor-sub-item {
  font-size: 15px;
}