// underline for menu items

.e--pointer-double-line .elementor-item:after,
.e--pointer-double-line .elementor-item:before,
.e--pointer-overline .elementor-item:after,
.e--pointer-overline .elementor-item:before,
.e--pointer-underline .elementor-item:after,
.e--pointer-underline .elementor-item:before {
  background-color: $yellow;
}
// buttons
// default button style (yellow)

.ast-button,
.button,
.elementor-button-wrapper .elementor-button,
button,
input#submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
  @include btn-outline($yellow);

  &:active,
  &:focus,
  &:hover {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    @include btn-outline($yellow);
  }
}
// nav menu

.sub-menu.elementor-nav-menu--dropdown {
  background-color: $yellow;

  a {
    color: $purple;
  }
}

.elementor-nav-menu--dropdown .elementor-item.highlighted,
.elementor-nav-menu--dropdown .elementor-item:focus,
.elementor-nav-menu--dropdown .elementor-item:hover,
.elementor-sub-item.highlighted,
.elementor-sub-item:focus,
.elementor-sub-item:hover {
  background-color: $light-yellow;
}