.cta-banner {
  padding: 7rem 0;

  h3 {
    color: $yellow;

    &::after {
      content: "";
      position: absolute;
      top: 155%;
      left: 48.5%;
      border-bottom: 2px solid $yellow;
      width: 2%;
    }
  }
}

.footer {
  text-align: center;
  padding-top: 3rem;

  .contact-row {
    padding-bottom: 6rem;
  }

  .copyright-row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8rem;
    color: white;
  }

  p {
    margin-bottom: 0;
  }

  .small {
    font-size: 0.95rem;
    color: #5F6267;
    font-weight: 600;
  }

  .chase img {
    display: none;
    @media (min-width: 768px) {
      bottom: -67px;
      display: block;
    }
    position: absolute;
    right: 0;
    margin-bottom: 0;
    min-width: 428px;
  }
  // align all items left on desktop
  @media (min-width: 768px) {
    text-align: left;
  }
}