body {
  background-color: black;

  p {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4;
  }
}

.elementor-widget-heading h1.elementor-heading-title,
h1,
h1.entry-title,
h1.press-elements-title {
  color: white;
  font-family: 'Londrina Solid', regular;
  text-transform: uppercase;
  font-size: 4.5rem;
}
// apply extra padding to h1's that aren't on homepage

.extra-padding h1.elementor-heading-title,
h1.press-elements-title {
  margin-bottom: 0.2rem;
  margin-top: 7rem;
}

.elementor-widget-container {
  h2,
  h2.elementor-heading-title {
    color: $yellow;
    font-family: 'Londrina Solid', regular;
    text-transform: uppercase;
    padding-top: 4rem;
    text-align: center;
  }
}

h3,
h3.elementor-heading-title {
  font-size: 1.5rem;
}

h3,
h4,
h5,
h6 {
  &.elementor-heading-title {
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
    color: $purple;
  }
}

.white {
  h3 {
    &.elementor-heading-title {
      color: white;
    }
  }
}

a {
  color: $yellow;
}

.ps2p {
  font-family: 'Press Start 2P';
  font-size: 0.85rem;
}

.yellow {
  color: $yellow;
}

.orange-bg {
  .elementor-widget-wrap {
    background-color: $orange;
  }

  .underline h3 {
    color: $purple;
    @include underline($purple);
  }

  .elementor-button-wrapper .elementor-button {
    @include btn-outline($purple);
    @include btn-hover($purple);
  }
}

.purple-bg {
  .elementor-widget-wrap {
    background-color: $purple;
  }

  .elementor-heading-title {
    color: $orange;
  }

  .underline h3 {
    color: $orange;
    @include underline($orange);
  }

  .elementor-button-wrapper .elementor-button {
    @include btn-outline($orange);
    @include btn-hover($orange);
  }
}

.yellow-bg {
  .elementor-widget-wrap {
    background-color: $yellow;
  }

  .underline h3 {
    color: $purple;
    @include underline($purple);
  }

  .elementor-button-wrapper .elementor-button {
    @include btn-outline($purple);
    @include btn-hover($purple);
  }
}

.blue-bg {
  .elementor-widget-wrap {
    background-color: $blue;
  }

  .underline h3 {
    color: $purple;
    @include underline($purple);
  }

  .elementor-button-wrapper .elementor-button {
    @include btn-outline($purple);
    @include btn-hover($purple);
  }
}
// colored 'cards'

.card,
.card-square {
  .elementor-widget-wrap {
    position: relative;
    padding: 20px 32px 42px;
  }
  // cols inside a card class
  // .no-corners {
  //   @include remove-corners;
  //
  //   .elementor-column-wrap {
  //     @include remove-corners;
  //   }
  //
  //   .elementor-widget-wrap {
  //     @include remove-corners;
  //   }
  // }
  .elementor-heading-title {
    margin-top: 35px;
  }
}

.card-square {
  .elementor-widget-wrap {
    padding-bottom: 20px;
  }
}

.star-bg {
  background: url("../img/star-background.png") no-repeat top center;
}

.star-bg-fixed {
  background: url("../img/star-background.png") fixed no-repeat top center;
}

.my-section.elementor-section {
  margin: 4rem 0;
}
// corners

.card,
.square-card {
  &.top-right {
    .corner-top-right {
      @include fancy-corner('top-right', 0, 0, auto, auto);
    }

    .corner-bottom-left {
      @include diagonal-corner(0, 0, auto, auto);
    }

    .corner-top-left {
      @include remaining-corner-1(0, 0, auto, auto);
    }

    .corner-bottom-right {
      @include remaining-corner-2(0, 0, auto, auto);
    }
  }

  &.top-left {
    .corner-top-right {
      @include remaining-corner-1(0, auto, auto, 0);
    }

    .corner-bottom-left {
      @include remaining-corner-2(0, auto, auto, 0);
    }

    .corner-top-left {
      @include fancy-corner('top-left', 0, auto, auto, 0);
    }

    .corner-bottom-right {
      @include diagonal-corner(0, auto, auto, 0);
    }
  }

  &.bottom-left {
    .corner-top-right {
      @include remaining-corner-1(auto, auto, 0, 0);
    }

    .corner-bottom-left {
      @include fancy-corner('bottom-left', auto, auto, 0, 0);
    }

    .corner-top-left {
      @include remaining-corner-2(auto, auto, 0, 0);
    }

    .corner-bottom-right {
      @include diagonal-corner(auto, auto, 0, 0);
    }
  }

  &.bottom-right {
    .corner-top-right {
      @include remaining-corner-1(auto, 0, 0, auto);
    }

    .corner-bottom-left {
      @include diagonal-corner(auto, 0, 0, auto);
    }

    .corner-top-left {
      @include remaining-corner-2(auto, 0, 0, auto);
    }

    .corner-bottom-right {
      @include fancy-corner('bottom-right', auto, 0, 0, auto);
    }
  }
}