.menu-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
}

.top-bar .elementor-button-text {
  font-family: "Roboto Condensed", sans-serif;
}