.logo img {
  position: static;
  @media (min-width: 768px) {
    position: relative;
    bottom: 15px;
  }
}

.menu-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
}
// top bar - containing buttons and social icons

.top-bar {
  .elementor-row {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    .elementor-social-icon:not(:last-child) {
      margin-right: 20px;
    }
  }

  .elementor-button-text {
    font-family: "Roboto Condensed", sans-serif;
  }

  .elementor-column.elementor-col-25 {
    width: auto;
  }
}
// page title banner

%banner {
  background-color: $purple-dark;
  /* fallback */
  background-image: url("../img/purple-stripe.png"), linear-gradient(135deg, $purple-dark 0, $purple-dark 50%, $purple 50%, $purple 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 48% 50%, 0 0;
}

.page-banner {
  @extend %banner;

  .elementor-column-wrap {
    background: none;
    @media(min-width: 768px) {
      background: url("../img/buttons.png") no-repeat bottom right 10px;
      background-size: 190px;
    }
    @media(min-width: 992px) {
      background-size: auto;
    }
  }
}

.homepage-banner {
  @extend %banner;

  .elementor-column-wrap {
    background: none;
    @media(min-width: 1335px) {
      background: url("../img/monkey-buttons.png") no-repeat bottom right 10px;
      background-size: auto;
    }
  }

  .homepage-heading .elementor-column-wrap.elementor-element-populated {
    text-align: center;
    @media (min-width: 1335px) {
      text-align: left;
    }
    padding: 6rem 0;
  }

  p {
    margin-bottom: 0;
  }
}