.logo img {
  position: static;
  text-align: left;
  max-width: 200px;
  width: 100%;
  @media (min-width: 768px) {
    max-width: 299px;
    position: relative;
    bottom: 15px;
  }
}

.menu-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.elementor-nav-menu--dropdown .menu-item a {
  font-size: 18px;
}
//IE fix for menu centering

.elementor-menu-toggle.elementor-clickable {
  align-self: flex-end;
}
// top bar - containing buttons and social icons

.top-bar {
  // less padding on sm buttons so fit on one row for mobile {
  .elementor-button.elementor-size-sm {
    padding: 8px 10px;
    @media (min-width: 768px) {
      padding: 10px 20px;
    }
  }

  .elementor-row {
    display: flex;
    justify-content: flex-end;

    .elementor-social-icon:not(:last-child) {
      margin-right: 20px;
    }
  }

  .elementor-button-text {
    font-family: "Roboto Condensed", sans-serif;
  }

  .elementor-column.elementor-col-25 {
    width: auto;
  }
}
// page title banner

%banner {
  background-color: $purple-dark;
  /* fallback */
  background-image: url("../img/purple-stripe.png"), linear-gradient(135deg, $purple-dark 0, $purple-dark 50%, $purple 50%, $purple 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 48% 50%, 0 0;
}

.page-banner {
  @extend %banner;

  .elementor-row {
    display: flex;
    justify-content: space-between;
  }

  .elementor-column {
    width: auto;
  }

  .elementor-column-wrap img {
    display: none;
    @media(min-width: 1200px) {
      display: inline-block;
      position: relative;
      bottom: -29px;
      right: 0;
      max-width: 500px;
    }
  }
}

.homepage-banner {
  h1.elementor-heading-title {
    margin: 0;
    line-height: 1;
    @media (max-width: 767px) {
      font-size: 2.8rem;
    }
  }
  @extend %banner;

  .elementor-column-wrap {
    background: none;
    @media(min-width: 1335px) {
      background: url("../img/banner-homepage.png") no-repeat bottom right 10px;
      background-size: auto;
    }
  }

  .homepage-heading .elementor-column-wrap.elementor-element-populated {
    text-align: center;
    @media (min-width: 1335px) {
      text-align: left;
    }
    padding: 6rem 0;
  }

  p {
    margin-bottom: 0;
  }

  .ps2p {
    font-family: 'Press Start 2P';
    font-size: 0.7rem;
  }
}