@mixin btn-outline($color) {
  color: $color;
  border: 2px solid $color;
  background: transparent;
  font-family: 'Fjalla One', sans-serif;
}
// fancy corners
@mixin fancy-corner($corner, $top, $right, $bottom, $left) {
  background-image: url("../img/corner-" + $corner + ".png");
  position: absolute;
  width: 60px;
  height: 50px;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  display: inline-block;
  // square corner diagonally-opposite to fancy corner
}
@mixin diagonal-corner($top, $right, $bottom, $left) {
  position: absolute;
  background-color: black;
  height: 10px;
  width: 10px;
  top: $bottom;
  right: $left;
  bottom: $top;
  left: $right;
  display: inline-block;
}
@mixin remaining-corner-1($top, $right, $bottom, $left) {
  position: absolute;
  background-color: black;
  height: 10px;
  width: 10px;
  top: $bottom;
  right: $right;
  bottom: $top;
  left: $left;
  display: inline-block;
}
@mixin remaining-corner-2($top, $right, $bottom, $left) {
  position: absolute;
  background-color: black;
  height: 10px;
  width: 10px;
  top: $top;
  right: $left;
  bottom: $bottom;
  left: $right;
  display: inline-block;
}
// for nested columns
@mixin remove-corners {
  &::after {
    content: none;
  }

  &::before {
    content: none;
  }
}
// underline for homepage card headings
@mixin underline($color) {
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    border-bottom: 2px solid $color;
    width: 22px;
  }
}
// btn hover
@mixin btn-hover($color) {
  &:active,
  &:focus,
  &:hover {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    @include btn-outline($color);
  }
}