@mixin btn-outline($color) {
  color: $color;
  border: 2px solid $color;
  background: transparent;
  font-family: 'Fjalla One', sans-serif;
}
// fancy corners
@mixin fancy-corner($corner, $top, $right, $bottom, $left) {
  &::before {
    content: url("../img/corner-" + $corner + ".png");
    position: absolute;
    width: 60px;
    height: 50px;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    display: inline-block;
  }
  // square corner diagonally-opposite to fancy corner
  &::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 10px;
    width: 10px;
    top: $bottom;
    right: $left;
    bottom: $top;
    left: $right;
    display: inline-block;
  }
}
// adding other 2 corners to parent element as only 2 psuedo elements allowed
@mixin cutout-corners($top, $right, $bottom, $left) {
  &::before {
    content: '';
    position: absolute;
    background-color: black;
    height: 10px;
    width: 10px;
    top: $bottom;
    right: $right;
    bottom: $top;
    left: $left;
    display: inline-block;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 10px;
    width: 10px;
    top: $top;
    right: $left;
    bottom: $bottom;
    left: $right;
    display: inline-block;
  }
}
// for nested columns
@mixin remove-corners {
  &::after {
    content: none;
  }

  &::before {
    content: none;
  }
}
// underline for cta banner
@mixin underline($position, $color) {
  &::after {
    content: "";
    position: absolute;
    top: 155%;
    left: $position;
    border-bottom: 2px solid $color;
    width: 2%;
  }
}
// underline for homepage card headings

&::after {
  content: "";
  position: absolute;
  top: 155%;
  left: 0;
  border-bottom: 2px solid $color;
  width: 2%;
}