.elementor-slides {
  .slick-slide {
    flex-direction: column;
    height: auto !important;
    display: block;
    // @media (min-width: 768px) {
    //   // flex-direction: row;
    // }
    .slick-slide-bg {
      background-size: contain !important;
      position: relative;

      &::after {
        content: '';
        display: block;
        padding-bottom: 70%;
      }
    }
  }

  .slick-slide-inner {
    padding: 0;
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
  }
}

.vertical .elementor-slides {
  .slick-slide-bg {
    &::after {
      padding-bottom: 40%;
    }
  }
}

.elementor-slick-slider .slick-next {
  right: -50px;
}

.elementor-slick-slider .slick-prev {
  left: -50px;
}

.slider {
  .elementor-col-100 {
    max-width: 650px !important;
  }
}