table {
  td {
    color: $purple;
  }

  th,
  tr {
    padding: 10px;

    &:nth-child(even) {
      background-color: #fff;
    }

    &:nth-child(odd) {
      background-color: darken(#fff, 10%);
    }
  }
}